@model UrlShortener.ViewModels.Url

<h1>Paste the URL to be shortened</h1>
<form action="/" method="post">
    <div id="formurl">
        <input type="text" name="DestinationUrl" placeholder="Enter the link here">
        <div id="formbutton">
            <input type="submit" value="Shorten URL">
        </div>
    </div>
</form>